* {
  box-sizing: border-box;
}

tr.rowa {
	background-color: #FAFAFA; color: black;
}
tr.rowb {
	background-color: #EFEFEF; color: black;
}

table {
    border-collapse: collapse;
}

td
{
    padding:5px 20px 5px 1px;
}

body {
  font-family: Calibri;
  margin: 0;
}

.header {
  padding: 15px;
  text-align: center;
  background: #304566;
  color: white;
}

.header h1 {
  font-size: 30px;
}

.footer {
  padding: 15px;
  text-align: center;
  background: #304566;
  color: white;
}

.container > * {
    display: inline-block;
}

.navbar {
  overflow: hidden;
  background-color: #C52818;
  top: 0;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: NONE;
}

.navbar a:hover {
  background-color: black;
  color: white;
}

.row {  
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.filter {
  -ms-flex: 15%;
  flex: 15%;
  background-color: #f1f1f1;
  padding: 20px;
}

.courseList {   
  -ms-flex: 85%;
  background-color: white;
  padding: 20px;
}
